
.logo {
  border-radius: 15px;
  height: 150px;
  width: 250px;
  pointer-events: none;
  margin: 50px;
}
.App__header {
  background-color: #282c34;
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main {
  background-color: #282c34;
  height: 70vh;
}
.h1itemlist {
  text-align: center;
}
.container__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius:20px;
}


